footer {
    background-image: url('https://preview.colorlib.com/theme/ecohosting/assets/img/gallery/footer-bg.png.webp');
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-icons a img {
    width: 15px;
    height: 15px;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    margin-left: 150px;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer-item {
    font-size: 16px;
    color: #C2C5db;
    line-height: 20px;
    width: 40%;
    margin-top: 25px;
}

.footer-item p {
    color: #C2C5DB;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}

.email-btn, .subscribe-btn{
    background-color: transparent;
    width: 50%;
    height: 40px;
    border: 1px solid #695CAE;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 25px;
}

.subscribe-btn {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
}

.footer-items {
    color: white;
    width: 20%;
}

.footer-items h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer-items p {
    line-height: 32px;
    color: #C2C5DB;
}

.footer-icons a img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
}

.footer-icons {
    margin-top: 50px;
}

.footer-icons a {
    margin-right: 10px;
}

footer > p {
    color: #C2C5DB;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}

.footer-arrow img {
    width: 20px;
    height: 20px;
}

.footer-arrow {
    float: right;
    background-color: violet;
    border-radius: 50%;
    padding: 12px 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.footer-icons a img:hover {
    background-color: #ef67ff;
    transform: scaleX(-1);
}

@media (max-width: 1024px){
    .footer-row {
        margin-left: 100px;
    }
}

@media (max-width: 900px){
    .footer-item, .footer-items {
        width: 50%;
    }
    .footer-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 425px){
    .footer-items, .footer-item {
        width: 90%;
    }
    .footer-row {
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .footer-items, .footer-item {
        width: 90%;
    }
    .footer-row {
        margin-left: 0;
    }
}