header {
    display: flex;
    background-color: #2D0A31;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo-div {
    width: 30%;
}

.nav-div {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-div a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

.rose-btn {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    border: none;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 30px;
}

.menu-div{
    display: none;
}

.menu-img img {
    width: 20px;
    height: 15px;
}

.nav-div a:hover {
    color: #ef67ff;
}

.nav-div a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #ef67ff;
    transition: width 0.3s;
    left: 0;
    bottom: -5px;
}

.nav-div a:hover::after{
    width: 100%;
}

@media (max-width:1024px){
    .nav-div {
        width: 55%;
    }
}

@media (max-width: 900px){
    .nav-div {
        display: none;
    }
    header {
        flex-direction: column;
    }
    .menu-div {
        display: block;
        background-color: #4c4c4c;
        width: 80%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu-img {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        opacity: 0.7;
        padding: 5px;
        margin-right: 10px;
    }
}