.section-5, .section-6 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.section-5 div img, .section-6 div img {
    width: 90%;
}

.section-6 div img {
    margin-left: 50px;
}

.section-5 div, .section-6 div {
    width: 40%;
}

.section-5 div h1, .section-6 div h1 {
    color: #4C1E51;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}

.section-5 div p, .section-6 div p {
    color: #646D77;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 25px;
}

.section-5 div ul li, .section-6 div ul li {
    color: #646D77;
    line-height: 22px;
    margin-bottom: 15px;
    margin-left: 20px;
    list-style-image: url('https://preview.colorlib.com/theme/ecohosting/assets/img/icon/right.svg');
}

.section-6 div button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 60px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 30px;
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    z-index: 1;
    transition: all 0.3s;
    position: relative;
}

.section-6 div button img {
    width: 20px;
}

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a077ff;
    transition: all 0.3s;
    border-radius: 20px;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}

@media(max-width: 900px){
    .section-5 div, .section-6 div{
        width: 90%;
    }
    .section-5 div img, .section-6 div img {
        width: 70%;
        margin: 20px;
    }
}

@media (max-width: 425px){
    .section-6 div button {
        width: 80%;
    }
}