.section-2 {
    display: flex;
    background-color: #2D0A31;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    height: 40vh;
    flex-wrap: wrap;
}

.section2-search img {
    width: 40px; 
}

.section-2-txt h2 {
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.section-2-txt p {
    color: #A5A7C5;
    padding-top: 25px;
    line-height: 20px;
    font-size: 14px;
}

.section-2-txt {
    width: 30%;
    margin-left: 120px;
}

.section2-domain {
    width: 50%;
}

.section2-search input {
    border: none;
    height: 60px;
    width: 80%;
    outline: none;
    font-size: 16px;
}

.section2-search {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section2-search button {
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.section2-search button img {
    width: 30px;
}

.div-p-span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 25px;
    width: 70%;
    margin-left: 18%;
    font-size: 16px;
}

.div-p-span p span {
    font-size: 20px;
    margin-right: 10px;
}

.red-span {
    color: red;
}

.yellow-span {
    color: yellow;
}

.green-span {
    color: green;
}

.purple-span {
    color: purple;
}

@media (max-width: 900px){
    .section-2-txt {
        width: 90%;
        margin-left: 50px;
    }
    .section2-domain {
        width: 90%;
    }
}

@media (max-width: 375px){
    .section2-domain {
        margin-top: 30px;
    }
    .section2-search img {
        width: 30px;
        margin-left: 10px;
    }
    .section2-search button {
        width: 40px;
        height: 40px;
        margin-right: 6px;
    }
    .section2-search button img {
        width: 20px;
    }
    .div-p-span {
        width: 90%;
        margin-left: 10px;
    }
}