.empty-section {
    background: linear-gradient(3deg,#2D0A31 50%,  white 50%);
    height: 200px;
}
.section-7 {
    background-color: #2D0A31;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-7 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
}

.section-7 ul li {
    width: 43%;
    margin-top: 50px;
    color: white;
    list-style-type: 'Q.     ';
    font-size: 22px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.section-7 ul li p {
    color: #FFFFFF99;
    font-size: 16px;
    margin-top: 20px;
}

.center {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    padding-left: 28px;
    font-size: 16px;
}

@media (max-width: 425px){
    .section-7 ul li {
        width: 90%;
        margin-left: 30px;
    }
}