.section-3 {
    background-color: #2D0A31;
    padding-bottom: 50px;
}

.h1-center {
    color: white;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.section-3-cards {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    margin-left: 150px;
}

.card-item {
    width: 33%;
    margin-top: 80px;
}

.card-item h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.card-item p {
    color: #a7a5c5;
    margin-top: 20px;
    line-height: 24px;
    font-size: 18px;
}

@media (max-width: 900px){
    .card-item {
        width: 32%;
        margin-right: 5px;
    }
    .section-3-cards {
        width: 90%;
        margin-left: 50px;
    }
}

@media(max-width: 425px){
    .card-item {
        width: 90%;
    }
    .section-3-cards {
        width: 85%;
    }
}